output/
overleaf/
*.aux
*.log
*.out
*.bbl
*.blg
*.bak
*.bak
*.prefix.bak
# Build artifacts
__pycache__/
*.pyc
*.fdb_latexmk
*.fls
*.synctex.gz
.venv/
.DS_Store
docs/*/components/figures/**/*.png
docs/*/components/figures/**/*.pdf
docs/sep-coin-tori/components/figures/fig-one-step/one-step.png
!docs/sep-coin-tori/components/figures/fig-10x10-fidelity.png
!docs/sep-coin-tori/components/figures/fig-10x10-probability.png
!docs/sep-coin-tori/components/figures/fig-10x10-spin.png

_orphans/
