\documentclass{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{amsmath,amssymb}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage[margin=1in]{geometry}

% Allow components to \input each other using repo-root-relative paths,
% even though latexmk runs from output/.
\makeatletter
\def\input@path{{../}{../components/}{../components/paragraphs/}{../components/equations/}{../components/subsections/}}
\makeatother

\graphicspath{{../}{../components/}{../components/figures/}{../components/figures/fig-architecture/}}

\title{ <<- manifest.metadata.title ->> }
\author{
<%- for a in manifest.metadata.authors %>
  << a.name >>\\
  \texttt{ <<- a.email ->> }\\
  << a.affiliation >>
  <%- if not loop.last %> \and <% endif %>
<%- endfor %>
}
\date{\today}

\begin{document}
\maketitle

<% for section in manifest.sections %>
\section{ <<- section.title ->> }
<% for comp in section.components %>
<< emit(comp) >>
<% endfor %>
<% endfor %>

\bibliographystyle{plain}
\bibliography{ <<- manifest.metadata.bibliography | replace('.bib','') ->> }
\end{document}
